[submodule "nvim/pack/plugins/start/vim-repeat"]
  path = nvim/pack/plugins/start/vim-repeat
  url = https://github.com/tpope/vim-repeat.git
  branch = master
[submodule "nvim/pack/plugins/start/targets.vim"]
  path = nvim/pack/plugins/start/targets.vim
  url = https://github.com/wellle/targets.vim.git
  branch = master
[submodule "nvim/pack/plugins/start/vim-exchange"]
  path = nvim/pack/plugins/start/vim-exchange
  url = https://github.com/tommcdo/vim-exchange.git
  branch = master
[submodule "nvim/pack/plugins/start/vim-surround"]
  path = nvim/pack/plugins/start/vim-surround
  url = https://github.com/tpope/vim-surround.git
  branch = master
[submodule "nvim/pack/plugins/start/vim-easymotion"]
  path = nvim/pack/plugins/start/vim-easymotion
  url = https://github.com/easymotion/vim-easymotion.git
  branch = master
[submodule "zsh/plugins/zsh-syntax-highlighting"]
  path = zsh/plugins/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting.git
  branch = master
[submodule "zsh/plugins/zsh-you-should-use"]
  path = zsh/plugins/zsh-you-should-use
  url = https://github.com/MichaelAquilina/zsh-you-should-use.git
  branch = master
[submodule "nvim/pack/plugins/start/nvim-autopairs"]
  path = nvim/pack/plugins/start/nvim-autopairs
  url = https://github.com/windwp/nvim-autopairs.git
[submodule "nvim/pack/plugins/start/blink.cmp"]
	path = nvim/pack/plugins/start/blink.cmp
	url = https://github.com/Saghen/blink.cmp.git
[submodule "nvim/pack/plugins/start/LuaSnip"]
	path = nvim/pack/plugins/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "nvim/pack/plugins/start/mini.nvim"]
	path = nvim/pack/plugins/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim.git
[submodule "nvim/pack/plugins/start/nvim-treesitter"]
	path = nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/plugins/start/blink.lib"]
	path = nvim/pack/plugins/start/blink.lib
	url = https://github.com/saghen/blink.lib.git
[submodule "nvim/pack/plugins/opt/crates.nvim"]
	path = nvim/pack/plugins/opt/crates.nvim
	url = https://github.com/Saecki/crates.nvim.git
[submodule "nvim/pack/plugins/start/auto-pairs"]
	path = nvim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "nvim/pack/plugins/start/nvim-dap"]
	path = nvim/pack/plugins/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "nvim/pack/plugins/start/nvim-dap-ui"]
	path = nvim/pack/plugins/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule "nvim/pack/plugins/start/nvim-jdtls"]
	path = nvim/pack/plugins/start/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls.git
[submodule "nvim/pack/plugins/start/nvim-lsp"]
	path = nvim/pack/plugins/start/nvim-lsp
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/pack/plugins/start/playground"]
	path = nvim/pack/plugins/start/playground
	url = https://github.com/nvim-treesitter/playground.git
[submodule "nvim/pack/plugins/start/plenary.nvim"]
	path = nvim/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/plugins/start/popup.nvim"]
	path = nvim/pack/plugins/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "nvim/pack/plugins/start/rust-tools.nvim"]
	path = nvim/pack/plugins/start/rust-tools.nvim
	url = https://github.com/simrat39/rust-tools.nvim.git
[submodule "nvim/pack/plugins/start/tagbar"]
	path = nvim/pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "nvim/pack/plugins/start/vim-commentary"]
	path = nvim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/pack/plugins/start/vim-easy-align"]
	path = nvim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
