/* ========== colorscheme =================================================== */
:root {
  --background: #161b1d;
  --sel-bg:     #1f292e;
  --text-main:  #7ea2b4;
  --text-alt:   #257fad;
}


/* ========== apply theme =================================================== */
/* colors */
#nav-bar,
#urlbar,
#urlbar-container,
#nav-bar-customization-target,
#TabsToolbar,
#navigator-toolbox,
#PersonalToolbar,
#appMenu-popup
{
  color:      var(--text-main)  !important;
  background: var(--background) !important;

  /* borders */
  border:     none !important;
  box-shadow: none !important;
}

#urlbar-input,
.urlbar-input-box,
#urlbar-input-container,
#urlbar-background
{
  color:      var(--text-main) !important;
  background: var(--background) !important;
}

.tab-background[selected="true"] {
  background: var(--background) !important;
}
tab:not([selected="true"]) {
  background: var(--background) !important;
  color:      var(--text-main) !important;
}
tab[selected="true"] {
  background: var(--background) !important;
  color:      var(--text-alt) !important;
}
tab:hover {
  background: var(--sel-bg) !important;
}

/* font */
.tab-background,
.tabbrowser-tab,
#nav-bar,
#urlbar,
#TabsToolbar,
#navigator-toolbox,
#PersonalToolbar,
#appMenu-popup
{
  font-family: "GohuFont" !important;
  font-size:   11px !important;
  font-weight: normal !important;
}


/* ========== hide elements ================================================= */
/* buttons */
#forward-button,                 /* forward button */
#back-button,                    /* back button */
#downloads-button,               /* download button */
#page-action-buttons,
#fxa-toolbar-menu-button,        /* firefox account */
#nav-bar-overflow-button,        /* overflow arrows */
#tabs-newtab-button,             /* new tab button */
#new-tab-button,                 /* new tab button when tabs overflow */
#stop-reload-button,             /* reload button */
#home-button,                    /* home button */
#library-button,                 /* library button */
#sidebar-button,                 /* sidebar button */
#whats-new-menu-button,          /* gift button after update */
.scrollbutton-up,                /* scroll overflow tabs up */
.scrollbutton-down,              /* scroll overflow tabs down */
.arrowscrollbox-overflow-end-indicator,
.webextension-browser-action,    /* extensions */

/* tabs */
.tab-line,                       /* line atop selected tab */
.tabbrowser-tab:not([pinned])
  .tab-icon-image,               /* favicons */
.tab-close-button.close-icon,    /* close button */
#customizableui-special-spring1, /* left padding */
#customizableui-special-spring2, /* right padding */
/*#PersonalToolbar,                /* bookmarks bar */

/* menu */
#appMenu-tp-label,               /* content blocking */
#appMenu-tp-button,              /* content blocking */
#appMenu-tp-separator,           /* separator */
#appMenu-new-window-button,      /* new window */
#appMenu-private-window-button,  /* new private window */
#appMenuRestoreLastSession,      /* restore last session */
#appMenu-zoom-controls,          /* zoom controls */
#appMenu-edit-controls,          /* edit controls */
#appMenu-addons-button,          /* addons */
#appMenu-customize-button,       /* customize */
#appMenu-open-file-button,       /* open file */
#appMenu-save-file-button,       /* save file */
#appMenu-print-button,           /* print */
#appMenu-find-button,            /* find */
#appMenu-more-button,            /* more */
#appMenu-help-button,            /* help */
#appMenu-quit-button,            /* quit */
toolbarseparator,                /* all separators */

/* url-bar */
#pageActionButton,               /* */
#pocket-button-box,              /* */
#reader-mode-button,             /* activate reader mode */
.urlbar-history-dropmarker,      /* history dropdown arrow */
#tracking-protection-icon-container,  /* tracking protection button */
#identity-box,                   /* */
#identity-icon-labels,           /* */
#appMenu-protection-report-button,  /* Privacy Protections button */
#appMenu-whatsnew-button         /* what's new button */
{
  display: none !important;
}

#PanelUI-button {
  border-image-slice: 0 !important; /*hide panel menu separation */
}


/* ========== misc ========================================================== */
#PanelUI-menu-button:before {
  content: '';
  width: 0px !important;
  display: flex !important;
  margin-left: -5px !important;
  padding: 0px !important;
}

/* Move hamburger menu to the left */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important;
  margin-right: -6px !important;
}
#appMenu-popup {
  margin-right: -258px !important;
}
#appMenu-popup .panel-arrow {
  margin-right: 248px !important;
}

/* fix white bg when opening new tabs -- to fix*/
browser,
browser.display.background_color,
tabbrowser
tabpanels,
.browserStack > browser,
.browserStack
{
  background: var(--bg-main) !important; 
  background-color: var(--text-main) !important; 
}

/* single bar */
/* TODO: url and tab text don't seem aligned */
#TabsToolbar,#nav-bar { height: 33px !important; } 
#TabsToolbar { margin-left:35vw !important; margin-right:0px; }
#nav-bar { margin-top:-32px !important; margin-right: 65vw!important; }
