<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox 3">
    <item id="launch-termite" label="Termite">
        <action name="Execute">
            <command>termite</command>
        </action>
    </item>
    <item label="urxvt">
        <action name="Execute">
            <command>urxvt</command>
        </action>
    </item>
    <item label="Firefox">
        <action name="Execute">
            <command>firefox</command>
            <startupnotify>
                <enabled>yes</enabled>
                <wmclass>Firefox</wmclass>
            </startupnotify>
        </action>
    </item>
    <item label="Google Chrome">
        <action name="Execute">
            <command>google-chrome-stable</command>
            <startupnotify>
                <enabled>yes</enabled>
                <wmclass>GoogleChrome</wmclass>
            </startupnotify>
        </action>
    </item>
    <item label="Steam">
        <action name="Execute">
            <command>steam</command>
            <startupnotify>
                <enabled>yes</enabled>
            </startupnotify>
        </action>
    </item>
    <item label="Thunar">
        <action name="Execute">
            <command>Thunar</command>
            <startupnotify>
                <enabled>yes</enabled>
            </startupnotify>
        </action>
    </item>
    <separator />
    <item label="Reconfigure">
        <action name="Reconfigure" />
    </item>
    <item label="Exit Openbox">
      <action name="Exit">
        <prompt>yes</prompt>
      </action>
    </item>
</menu>

</openbox_menu>
